[alias]
	id = "!echo -n '   Author: '; git var GIT_AUTHOR_IDENT; echo -n 'Committer: '; git var GIT_COMMITTER_IDENT"

	config-user = config --global
	config-repo = config --local
	config-tree = config --worktree

	repo-dir = rev-parse --git-common-dir
	git-dir  = rev-parse --git-dir
	tree-dir = rev-parse --show-toplevel

	aliases    = config --get-regex \\^alias\\.
	alternates = !git rev-parse --git-dir > /dev/null && declare a="`git rev-parse --git-path objects/info/alternates`" && test -f "${a}" && cat "${a}"
	branches   = branch -vva
	remotes    = remote -v
	tags       = tag --list
	trees      = worktree list

	chrono             = blame --color-by-age
	chrono-line-days   = -c blame.highlightRecent="brightblack,12   days ago,red,10   days ago,yellow, 8   days ago,green, 6   days ago,cyan, 4   days ago,blue, 2   days ago,magenta" blame --color-by-age
	chrono-line-weeks  = -c blame.highlightRecent="brightblack,12  weeks ago,red,10  weeks ago,yellow, 8  weeks ago,green, 6  weeks ago,cyan, 4  weeks ago,blue, 2  weeks ago,magenta" blame --color-by-age
	chrono-line-months = -c blame.highlightRecent="brightblack,12 months ago,red,10 months ago,yellow, 8 months ago,green, 6 months ago,cyan, 4 months ago,blue, 2 months ago,magenta" blame --color-by-age
	chrono-line-years  = -c blame.highlightRecent="brightblack,12  years ago,red,10  years ago,yellow, 8  years ago,green, 6  years ago,cyan, 4  years ago,blue, 2  years ago,magenta" blame --color-by-age
	chrono-quad-days   = -c blame.highlightRecent="brightblack,25   days ago,red,16   days ago,yellow, 9   days ago,green, 4   days ago,cyan, 2   days ago,blue,12  hours ago,magenta" blame --color-by-age
	chrono-quad-weeks  = -c blame.highlightRecent="brightblack,16  weeks ago,red, 9  weeks ago,yellow, 4  weeks ago,green, 2  weeks ago,cyan, 1  week  ago,blue,42  hours ago,magenta" blame --color-by-age
	chrono-quad-months = -c blame.highlightRecent="brightblack,16 months ago,red, 9 months ago,yellow, 4 months ago,green, 2 months ago,cyan, 1 month  ago,blue, 1  week  ago,magenta" blame --color-by-age
	chrono-quad-years  = -c blame.highlightRecent="brightblack,16  years ago,red, 9  years ago,yellow, 4  years ago,green, 2  years ago,cyan, 1  year  ago,blue, 3 months ago,magenta" blame --color-by-age

	diff-cached = diff --cached
	diff-staged = diff --staged

	diffstat        = diff --stat
	diffstat-cached = diff --stat --cached
	diffstat-staged = diff --stat --staged
	dirstat         = diff --dirstat
	dirstat-cached  = diff --dirstat --cached
	dirstat-staged  = diff --dirstat --staged

	diffgui  = difftool --gui
	mergegui = mergetool --gui

	graph      = log --graph
	graph-deco = log --graph --simplify-by-decoration
	graph-topo = log --graph --topo-order
	graph-auth = log --graph --author-date-order
	graph-comm = log --graph --date-order
	log-deco   = log --simplify-by-decoration
	log-auth   = log --author-date-order
	log-comm   = log --date-order

	commit-init = commit -m "Initial commit"
	merge-ff    = merge --ff-only
	merge-try   = merge --no-commit
	pull-ff     = pull --ff-only
	pull-dry    = pull --dry-run
	push-dry    = push --dry-run

	stats      = status --short
	stats-all  = status --short --untracked-files=all
	stats-mod  = status --short --untracked-files=no
	status-all = status --untracked-files=all
	status-mod = status --untracked-files=no

	tree       = worktree

[blame]
	date = human-local

[color]
	ui = auto

[color "advice"]
	hint = brightblue

[color "blame"]
	# Default
	highlightRecent = "brightblack, 5  years ago,red, 1  year  ago,yellow, 3 months ago,green, 1 month  ago,cyan, 1  week  ago,blue, 1   day  ago,magenta"

	# Linear - Days
#	highlightRecent = "brightblack,12   days ago,red,10   days ago,yellow, 8   days ago,green, 6   days ago,cyan, 4   days ago,blue, 2   days ago,magenta"

	# Linear - Weeks
#	highlightRecent = "brightblack,12  weeks ago,red,10  weeks ago,yellow, 8  weeks ago,green, 6  weeks ago,cyan, 4  weeks ago,blue, 2  weeks ago,magenta"

	# Linear - Months
#	highlightRecent = "brightblack,12 months ago,red,10 months ago,yellow, 8 months ago,green, 6 months ago,cyan, 4 months ago,blue, 2 months ago,magenta"

	# Linear - Years
#	highlightRecent = "brightblack,12  years ago,red,10  years ago,yellow, 8  years ago,green, 6  years ago,cyan, 4  years ago,blue, 2  years ago,magenta"

	# Quadratic - Days
#	highlightRecent = "brightblack,25   days ago,red,16   days ago,yellow, 9   days ago,green, 4   days ago,cyan, 2   days ago,blue,12  hours ago,magenta"

	# Quadratic - Weeks
#	highlightRecent = "brightblack,16  weeks ago,red, 9  weeks ago,yellow, 4  weeks ago,green, 2  weeks ago,cyan, 1  week  ago,blue,42  hours ago,magenta"

	# Quadratic - Months
#	highlightRecent = "brightblack,16 months ago,red, 9 months ago,yellow, 4 months ago,green, 2 months ago,cyan, 1 month  ago,blue, 1  week  ago,magenta"

	# Quadratic - Years
#	highlightRecent = "brightblack,16  years ago,red, 9  years ago,yellow, 4  years ago,green, 2  years ago,cyan, 1  year  ago,blue, 3 months ago,magenta"

	repeatedLines   = brightblack

[color "branch"]
	current  = bold brightgreen
#	local    = # Does not work
	remote   = red
	upstream = brightred
#	plain    = # Does not work

[color "decorate"]
	branch       = green
	remoteBranch = red
	tag          = cyan
	stash        = magenta
	HEAD         = brightmagenta

[color "diff"]
	frag                = brightyellow
	oldMoved            = default magenta
	newMoved            = default cyan
	oldMovedAlternative = default magenta
	newMovedAlternative = default cyan

[color "status"]
#	header       =
	added        = green
	changed      = yellow
	untracked    = red
	branch       = bold brightgreen
#	nobranch     =
	localBranch  = green
	remoteBranch = red
#	unmerged     =

[column]
	ui = auto

[diff]
	algorithm        = patience
	colorMoved       = zebra
	context          = 4
	interHunkContext = 10

[format]
	pretty = one

[init]
	defaultBranch = core

[log]
	date = human-local

[pager]
	blame  = LESS=\"${LESS} -S\" \"${PAGER}\"
	branch = LESS=\"${LESS} -F --wordwrap\" \"${PAGER}\"
	config = LESS=\"${LESS} -S\" \"${PAGER}\"
	diff   = LESS=\"${LESS} -S\" \"${PAGER}\"
	help   = LESS=\"${LESS} -F --wordwrap\" \"${PAGER}\"
	log    = LESS=\"${LESS} -F --wordwrap\" \"${PAGER}\"
	reflog = LESS=\"${LESS} -F --wordwrap\" \"${PAGER}\"
	show   = LESS=\"${LESS} -S\" \"${PAGER}\"
	status = LESS=\"${LESS} -F --wordwrap\" \"${PAGER}\"
	tag    = LESS=\"${LESS} -F --wordwrap\" \"${PAGER}\"

[pretty]
	references =           "tformat:%C(auto)%H  %D"
	refs       =           "tformat:%C(auto)%h  %D"
	refs-date  =           "tformat:%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %D"
	refs-adate =           "tformat:%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %D"
	refs-cdate =           "tformat:%C(auto)%h  %C(brightyellow)%<(12,trunc)%cd%C(auto)  %D"
	date       =                       "tformat:%C(brightyellow)%<(12,trunc)%ad%C(auto)  %D"
	adate      =                       "tformat:%C(brightyellow)%<(12,trunc)%ad%C(auto)  %D"
	cdate      =                       "tformat:%C(brightyellow)%<(12,trunc)%cd%C(auto)  %D"

	one      =             "tformat:%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %s  %D"
	one-80   =   "tformat:%w(80,0,4)%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %s  %D"
	one-100  =  "tformat:%w(100,0,4)%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %s  %D"
	one-120  =  "tformat:%w(120,0,4)%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %s  %D"
	one-140  =  "tformat:%w(140,0,4)%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %s  %D"
	one-160  =  "tformat:%w(160,0,4)%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %s  %D"
	one-80t  = "tformat:%C(auto)%<(10,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %<(32,trunc)%s  %<(20,trunc)%D"
	one-100t = "tformat:%C(auto)%<(10,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %<(42,trunc)%s  %<(30,trunc)%D"
	one-120t = "tformat:%C(auto)%<(12,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %<(50,trunc)%s  %<(40,trunc)%D"
	one-140t = "tformat:%C(auto)%<(12,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %<(65,trunc)%s  %<(45,trunc)%D"
	one-160t = "tformat:%C(auto)%<(12,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %<(80,trunc)%s  %<(50,trunc)%D"

	one-date      =                    "tformat:%C(brightyellow)%<(12,trunc)%ad%C(auto)  %s  %D"
	one-date-80   =          "tformat:%w(80,0,4)%C(brightyellow)%<(12,trunc)%ad%C(auto)  %s  %D"
	one-date-100  =         "tformat:%w(100,0,4)%C(brightyellow)%<(12,trunc)%ad%C(auto)  %s  %D"
	one-date-120  =         "tformat:%w(120,0,4)%C(brightyellow)%<(12,trunc)%ad%C(auto)  %s  %D"
	one-date-140  =         "tformat:%w(140,0,4)%C(brightyellow)%<(12,trunc)%ad%C(auto)  %s  %D"
	one-date-160  =         "tformat:%w(160,0,4)%C(brightyellow)%<(12,trunc)%ad%C(auto)  %s  %D"
	one-date-80t  =                    "tformat:%C(brightyellow)%<(12,trunc)%ad%C(auto)  %<(40,trunc)%s  %<(24,trunc)%D"
	one-date-100t =                    "tformat:%C(brightyellow)%<(12,trunc)%ad%C(auto)  %<(50,trunc)%s  %<(34,trunc)%D"
	one-date-120t =                    "tformat:%C(brightyellow)%<(12,trunc)%ad%C(auto)  %<(64,trunc)%s  %<(40,trunc)%D"
	one-date-140t =                    "tformat:%C(brightyellow)%<(12,trunc)%ad%C(auto)  %<(78,trunc)%s  %<(46,trunc)%D"
	one-date-160t =                    "tformat:%C(brightyellow)%<(12,trunc)%ad%C(auto)  %<(92,trunc)%s  %<(52,trunc)%D"

	one-ref       =                                                 "tformat:%C(auto)%h  %s  %D"
	one-ref-80    =                                       "tformat:%w(80,0,4)%C(auto)%h  %s  %D"
	one-ref-100   =                                      "tformat:%w(100,0,4)%C(auto)%h  %s  %D"
	one-ref-120   =                                      "tformat:%w(120,0,4)%C(auto)%h  %s  %D"
	one-ref-140   =                                      "tformat:%w(140,0,4)%C(auto)%h  %s  %D"
	one-ref-150   =                                      "tformat:%w(160,0,4)%C(auto)%h  %s  %D"
	one-ref-80t   =                         "tformat:%C(auto)%<(10,trunc)%h  %<(42,trunc)%s  %<(24,trunc)%D"
	one-ref-100t  =                         "tformat:%C(auto)%<(10,trunc)%h  %<(52,trunc)%s  %<(34,trunc)%D"
	one-ref-120t  =                         "tformat:%C(auto)%<(12,trunc)%h  %<(62,trunc)%s  %<(40,trunc)%D"
	one-ref-140t  =                         "tformat:%C(auto)%<(12,trunc)%h  %<(76,trunc)%s  %<(46,trunc)%D"
	one-ref-160t  =                         "tformat:%C(auto)%<(12,trunc)%h  %<(90,trunc)%s  %<(52,trunc)%D"

	two           =             "tformat:%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightwhite)%aN%C(auto)  %D%n%s%n"
	two-80        = "tformat:%C(auto)%<(10,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightwhite)%<(20,trunc)%aN%C(auto)  %<(32,trunc)%D%n%w(80,0,4)%s%n"
	two-100       = "tformat:%C(auto)%<(10,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightwhite)%<(20,trunc)%aN%C(auto)  %<(52,trunc)%D%n%w(100,0,4)%s%n"
	two-120       = "tformat:%C(auto)%<(12,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightwhite)%<(20,trunc)%aN%C(auto)  %<(70,trunc)%D%n%w(120,0,4)%s%n"
	two-140       = "tformat:%C(auto)%<(12,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightwhite)%<(20,trunc)%aN%C(auto)  %<(90,trunc)%D%n%w(140,0,4)%s%n"
	two-160       = "tformat:%C(auto)%<(12,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightwhite)%<(20,trunc)%aN%C(auto)  %<(110,trunc)%D%n%w(160,0,4)%s%n"
	two-80t       = "tformat:%C(auto)%<(10,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightwhite)%<(20,trunc)%aN%C(auto)  %<(32,trunc)%D%n%<(80,trunc)%s%n"
	two-100t      = "tformat:%C(auto)%<(10,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightwhite)%<(20,trunc)%aN%C(auto)  %<(52,trunc)%D%n%<(100,trunc)%s%n"
	two-120t      = "tformat:%C(auto)%<(12,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightwhite)%<(20,trunc)%aN%C(auto)  %<(70,trunc)%D%n%<(120,trunc)%s%n"
	two-140t      = "tformat:%C(auto)%<(12,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightwhite)%<(20,trunc)%aN%C(auto)  %<(90,trunc)%D%n%<(140,trunc)%s%n"
	two-160t      = "tformat:%C(auto)%<(12,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightwhite)%<(20,trunc)%aN%C(auto)  %<(110,trunc)%D%n%<(160,trunc)%s%n"

	two-msg       =             "tformat:%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightwhite)%aN%C(auto)  %D%n%w(0,0,4)%B"
	two-msg-80    = "tformat:%C(auto)%<(10,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightwhite)%<(20,trunc)%aN%C(auto)  %<(32,trunc)%D%n%w(80,0,4)%B"
	two-msg-100   = "tformat:%C(auto)%<(10,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightwhite)%<(20,trunc)%aN%C(auto)  %<(52,trunc)%D%n%w(100,0,4)%B"
	two-msg-120   = "tformat:%C(auto)%<(12,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightwhite)%<(20,trunc)%aN%C(auto)  %<(70,trunc)%D%n%w(120,0,4)%B"
	two-msg-140   = "tformat:%C(auto)%<(12,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightwhite)%<(20,trunc)%aN%C(auto)  %<(90,trunc)%D%n%w(140,0,4)%B"
	two-msg-160   = "tformat:%C(auto)%<(12,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightwhite)%<(20,trunc)%aN%C(auto)  %<(110,trunc)%D%n%w(160,0,4)%B"

	three         =             "tformat:%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %D%n%C(brightwhite)%aN%C(auto) <%C(brightblue)%aE%C(auto)>  %C(brightwhite)%G?%C(auto)%n%s%n"
	three-80      = "tformat:%C(auto)%<(10,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %>(54,trunc)%D%n%C(brightwhite)%<(30,trunc)%aN%C(auto)  %C(brightblue)%>(45,trunc)%aE%C(auto)  %C(brightwhite)%G?%C(auto)%n%w(80,0,4)%s%n"
	three-100     = "tformat:%C(auto)%<(10,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %>(74,trunc)%D%n%C(brightwhite)%<(40,trunc)%aN%C(auto)  %C(brightblue)%>(55,trunc)%aE%C(auto)  %C(brightwhite)%G?%C(auto)%n%w(100,0,4)%s%n"
	three-120     = "tformat:%C(auto)%<(12,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %>(92,trunc)%D%n%C(brightwhite)%<(45,trunc)%aN%C(auto)  %C(brightblue)%>(70,trunc)%aE%C(auto)  %C(brightwhite)%G?%C(auto)%n%w(120,0,4)%s%n"
	three-140     = "tformat:%C(auto)%<(12,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %>(112,trunc)%D%n%C(brightwhite)%<(55,trunc)%aN%C(auto)  %C(brightblue)%>(80,trunc)%aE%C(auto)  %C(brightwhite)%G?%C(auto)%n%w(140,0,4)%s%n"
	three-160     = "tformat:%C(auto)%<(12,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %>(132,trunc)%D%n%C(brightwhite)%<(65,trunc)%aN%C(auto)  %C(brightblue)%>(90,trunc)%aE%C(auto)  %C(brightwhite)%G?%C(auto)%n%w(160,0,4)%s%n"
	three-80t     = "tformat:%C(auto)%<(10,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %>(54,trunc)%D%n%C(brightwhite)%<(30,trunc)%aN%C(auto) %C(brightblue)%>(45,trunc)%aE%C(auto)  %C(brightwhite)%G?%C(auto)%n%<(80,trunc)%s%n"
	three-100t    = "tformat:%C(auto)%<(10,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %>(74,trunc)%D%n%C(brightwhite)%<(40,trunc)%aN%C(auto)  %C(brightblue)%>(55,trunc)%aE%C(auto)  %C(brightwhite)%G?%C(auto)%n%<(100,trunc)%s%n"
	three-120t    = "tformat:%C(auto)%<(12,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %>(92,trunc)%D%n%C(brightwhite)%<(45,trunc)%aN%C(auto)  %C(brightblue)%>(70,trunc)%aE%C(auto)  %C(brightwhite)%G?%C(auto)%n%<(120,trunc)%s%n"
	three-140t    = "tformat:%C(auto)%<(12,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %>(112,trunc)%D%n%C(brightwhite)%<(55,trunc)%aN%C(auto)  %C(brightblue)%>(80,trunc)%aE%C(auto)  %C(brightwhite)%G?%C(auto)%n%<(140,trunc)%s%n"
	three-160t    = "tformat:%C(auto)%<(12,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %>(132,trunc)%D%n%C(brightwhite)%<(65,trunc)%aN%C(auto)  %C(brightblue)%>(90,trunc)%aE%C(auto)  %C(brightwhite)%G?%C(auto)%n%<(160,trunc)%s%n"

	three-msg     =             "tformat:%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %D%n%C(brightwhite)%aN%C(auto) <%C(brightblue)%aE%C(auto)>  %C(brightwhite)%G?%C(auto)%n%w(0,0,4)%B"
	three-msg-80  = "tformat:%C(auto)%<(10,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %>(54,trunc)%D%n%C(brightwhite)%<(30,trunc)%aN%C(auto)  %C(brightblue)%>(45,trunc)%aE%C(auto)  %C(brightwhite)%G?%C(auto)%n%w(80,0,4)%B"
	three-msg-100 = "tformat:%C(auto)%<(10,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %>(74,trunc)%D%n%C(brightwhite)%<(40,trunc)%aN%C(auto)  %C(brightblue)%>(55,trunc)%aE%C(auto)  %C(brightwhite)%G?%C(auto)%n%w(100,0,4)%B"
	three-msg-120 = "tformat:%C(auto)%<(12,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %>(92,trunc)%D%n%C(brightwhite)%<(45,trunc)%aN%C(auto)  %C(brightblue)%>(70,trunc)%aE%C(auto)  %C(brightwhite)%G?%C(auto)%n%w(120,0,4)%B"
	three-msg-140 = "tformat:%C(auto)%<(12,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %>(112,trunc)%D%n%C(brightwhite)%<(55,trunc)%aN%C(auto)  %C(brightblue)%>(80,trunc)%aE%C(auto)  %C(brightwhite)%G?%C(auto)%n%w(140,0,4)%B"
	three-msg-160 = "tformat:%C(auto)%<(12,trunc)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %>(132,trunc)%D%n%C(brightwhite)%<(65,trunc)%aN%C(auto)  %C(brightblue)%>(90,trunc)%aE%C(auto)  %C(brightwhite)%G?%C(auto)%n%w(160,0,4)%B"

	long = "tformat:%C(brightblack)      Refs %C(auto) %D%n%C(brightblack)    Commit %C(auto) %H  %C(brightblack) Sig %C(auto) %G?%n%C(brightblack)    Author %C(auto) %<(16)%C(brightyellow)%ad%C(auto)  %C(brightwhite)%aN%C(auto) <%C(brightblue)%aE%C(auto)>%n%C(brightblack) Committer %C(auto) %<(16)%C(brightyellow)%cd%C(auto)  %C(brightwhite)%cN%C(auto) <%C(brightblue)%cE%C(auto)>%n%w(0,0,4)%C(brightblack)   Subject %C(auto) %s%n"
	all  = "tformat:%C(brightblack)      Refs %C(auto) %D%n%C(brightblack)    Commit %C(auto) %H  %C(brightblack) Sig %C(auto) %G?%n%C(brightblack)    Author %C(auto) %<(16)%C(brightyellow)%ad%C(auto)  %C(brightwhite)%aN%C(auto) <%C(brightblue)%aE%C(auto)>%n%C(brightblack) Committer %C(auto) %<(16)%C(brightyellow)%cd%C(auto)  %C(brightwhite)%cN%C(auto) <%C(brightblue)%cE%C(auto)>%n%w(0,0,4)%C(brightblack)   Subject %C(auto) %B"
