[alias]
	# Git's original diff, BUG: https://github.com/dandavison/delta/issues/522
	diff-git        = diff
	diff-git-cached = diff --cached
	diff-git-merge  = diff --merge-base HEAD
	diff-git-staged = diff --staged

	reflog-git = reflog --pretty=hone --patch
	show-git   = show   --pretty=hone --patch

	# diff -y equivalent, with smaller tabs
	diffy        = diff
	diffy-cached = diff --cached
	diffy-merge  = diff --merge-base HEAD
	diffy-staged = diff --staged

	logdiffy    = log    --pretty=hone --patch
	reflogdiffy = reflog --pretty=hone --patch
	showdiffy   = show   --pretty=hone --patch

# Requirements for blame on delta
[blame]
	coloring = none
	date = iso

[delta]
	map-styles = brightmagenta => syntax "#2f002f", brightcyan => syntax "#002f2f"

[delta "blame"]
	blame-format  = "{timestamp:<13.12} {author:<15.14} {commit:<8}"
	blame-palette = "#1f1f1f #2F0000 #002F00 #00002F #2F2F00 #2F002F #002F2F"
	tabs = 0

[delta "diff"]
	line-numbers = true
	side-by-side = false
	tabs = 4

	file-decoration-style = omit
	file-style = white blue

	file-added-label    = "    Added: "
	file-copied-label   = "   Copied: "
	file-modified-label = " Modified: "
	file-removed-label  = "  Removed: "
	file-renamed-label  = "  Renamed: "

	hunk-header-style = omit

[delta "diffy"]
	line-numbers = true
	side-by-side = true
	tabs = 4

	file-decoration-style = omit
	file-style = white blue

	file-added-label    = "    Added: "
	file-copied-label   = "   Copied: "
	file-modified-label = " Modified: "
	file-removed-label  = "  Removed: "
	file-renamed-label  = "  Renamed: "

	hunk-header-style = omit

[diff]
	colorMoved = zebra

[interactive]
	diffFilter = delta --color-only

[pager]
	blame = LESS=\"${LESS} -FS\" delta --features=blame

	diff        = LESS=\"${LESS} -FS\" delta --features=diff
	diff-cached = LESS=\"${LESS} -FS\" delta --features=diff
	diff-merge  = LESS=\"${LESS} -FS\" delta --features=diff
	diff-staged = LESS=\"${LESS} -FS\" delta --features=diff

	# Git's original diff, BUG: https://github.com/dandavison/delta/issues/522
	diff-git        = LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	diff-git-cached = LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	diff-git-merge  = LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	diff-git-staged = LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"

	reflog-git = LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	show-git   = LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"

	diffy        = LESS=\"${LESS} -F\" delta --features=diffy
	diffy-cached = LESS=\"${LESS} -F\" delta --features=diffy
	diffy-merge  = LESS=\"${LESS} -F\" delta --features=diffy
	diffy-staged = LESS=\"${LESS} -F\" delta --features=diffy

	log       = LESS=\"${LESS} -FS\" delta --features=diff
	reflog    = LESS=\"${LESS} -FS\" delta --features=diff
	show      = LESS=\"${LESS} -FS\" delta --features=diff
	logdiffy  = LESS=\"${LESS} -F\"  delta --features=diffy
	rlogdiffy = LESS=\"${LESS} -F\"  delta --features=diffy
	showdiffy = LESS=\"${LESS} -F\"  delta --features=diffy
