[alias]
	difftastic        = -c diff.external=difft diff
	difftastic-cached = -c diff.external=difft diff --cached
	difftastic-merge  = -c diff.external=difft diff --merge-base HEAD
	difftastic-staged = -c diff.external=difft diff --staged

	logtastic  = -c diff.external=difft log    --ext-diff --pretty=hone --patch
	rlogtastic = -c diff.external=difft reflog --ext-diff --pretty=hone --patch
	showtastic = -c diff.external=difft show   --ext-diff --pretty=hone --patch

[pager]
	difftastic        = LESS=\"${LESS} -c\" \"$(git var GIT_PAGER)\"
	difftastic-cached = LESS=\"${LESS} -c\" \"$(git var GIT_PAGER)\"
	difftastic-merge  = LESS=\"${LESS} -c\" \"$(git var GIT_PAGER)\"
	difftastic-staged = LESS=\"${LESS} -c\" \"$(git var GIT_PAGER)\"

	logtastic  = LESS=\"${LESS} -c\" \"$(git var GIT_PAGER)\"
	rlogtastic = LESS=\"${LESS} -c\" \"$(git var GIT_PAGER)\"
	showtastic = LESS=\"${LESS} -c\" \"$(git var GIT_PAGER)\"
