[alias]
	ela     = !eza --git --group-directories-first ${GIT_PREFIX}

	elal    = !eza --git --group-directories-first -bgl                   ${GIT_PREFIX}
	elalrs  = !eza --git --group-directories-first -bglr --sort=size      ${GIT_PREFIX}
	elalrt  = !eza --git --group-directories-first -bglr --sort=modified  ${GIT_PREFIX}
	elalx   = !eza --git --group-directories-first -bgl  --sort=extension ${GIT_PREFIX}
	elala   = !eza --git --group-directories-first -bglA                   ${GIT_PREFIX}
	elalars = !eza --git --group-directories-first -bglAr --sort=size      ${GIT_PREFIX}
	elalart = !eza --git --group-directories-first -bglAr --sort=modified  ${GIT_PREFIX}
	elalax  = !eza --git --group-directories-first -bglA  --sort=extension ${GIT_PREFIX}

	elat    = !eza --git --group-directories-first -lT     --no-permissions --no-filesize --no-user --no-time ${GIT_PREFIX}
	elad    = !eza --git --group-directories-first -lTD    --no-permissions --no-filesize --no-user --no-time ${GIT_PREFIX}
	elata   = !eza --git --group-directories-first -lTA    --no-permissions --no-filesize --no-user --no-time ${GIT_PREFIX}
	elada   = !eza --git --group-directories-first -lTAD   --no-permissions --no-filesize --no-user --no-time ${GIT_PREFIX}
	elalt   = !eza --git --group-directories-first -bglT   ${GIT_PREFIX}
	elald   = !eza --git --group-directories-first -bglTD  ${GIT_PREFIX}
	elalta  = !eza --git --group-directories-first -bglTA  ${GIT_PREFIX}
	elalda  = !eza --git --group-directories-first -bglTAD ${GIT_PREFIX}

	elat2   = !eza --git --group-directories-first -lT     --no-permissions --no-filesize --no-user --no-time -L 2 ${GIT_PREFIX}
	elad2   = !eza --git --group-directories-first -lTD    --no-permissions --no-filesize --no-user --no-time -L 2 ${GIT_PREFIX}
	elata2  = !eza --git --group-directories-first -lTA    --no-permissions --no-filesize --no-user --no-time -L 2 ${GIT_PREFIX}
	elada2  = !eza --git --group-directories-first -lTAD   --no-permissions --no-filesize --no-user --no-time -L 2 ${GIT_PREFIX}
	elalt2  = !eza --git --group-directories-first -bglT   -L 2 ${GIT_PREFIX}
	elald2  = !eza --git --group-directories-first -bglTD  -L 2 ${GIT_PREFIX}
	elalta2 = !eza --git --group-directories-first -bglTA  -L 2 ${GIT_PREFIX}
	elalda2 = !eza --git --group-directories-first -bglTAD -L 2 ${GIT_PREFIX}

	elat3   = !eza --git --group-directories-first -lT     --no-permissions --no-filesize --no-user --no-time -L 3 ${GIT_PREFIX}
	elad3   = !eza --git --group-directories-first -lTD    --no-permissions --no-filesize --no-user --no-time -L 3 ${GIT_PREFIX}
	elata3  = !eza --git --group-directories-first -lTA    --no-permissions --no-filesize --no-user --no-time -L 3 ${GIT_PREFIX}
	elada3  = !eza --git --group-directories-first -lTAD   --no-permissions --no-filesize --no-user --no-time -L 3 ${GIT_PREFIX}
	elalt3  = !eza --git --group-directories-first -bglT   -L 3 ${GIT_PREFIX}
	elald3  = !eza --git --group-directories-first -bglTD  -L 3 ${GIT_PREFIX}
	elalta3 = !eza --git --group-directories-first -bglTA  -L 3 ${GIT_PREFIX}
	elalda3 = !eza --git --group-directories-first -bglTAD -L 3 ${GIT_PREFIX}

	elat4   = !eza --git --group-directories-first -lT     --no-permissions --no-filesize --no-user --no-time -L 4 ${GIT_PREFIX}
	elat4   = !eza --git --group-directories-first -lTD    --no-permissions --no-filesize --no-user --no-time -L 4 ${GIT_PREFIX}
	elata4  = !eza --git --group-directories-first -lTA    --no-permissions --no-filesize --no-user --no-time -L 4 ${GIT_PREFIX}
	elata4  = !eza --git --group-directories-first -lTAD   --no-permissions --no-filesize --no-user --no-time -L 4 ${GIT_PREFIX}
	elalt4  = !eza --git --group-directories-first -bglT   -L 4 ${GIT_PREFIX}
	elalt4  = !eza --git --group-directories-first -bglTD  -L 4 ${GIT_PREFIX}
	elalta4 = !eza --git --group-directories-first -bglTA  -L 4 ${GIT_PREFIX}
	elalta4 = !eza --git --group-directories-first -bglTAD -L 4 ${GIT_PREFIX}

	elat5   = !eza --git --group-directories-first -lT     --no-permissions --no-filesize --no-user --no-time -L 5 ${GIT_PREFIX}
	elat5   = !eza --git --group-directories-first -lTD    --no-permissions --no-filesize --no-user --no-time -L 5 ${GIT_PREFIX}
	elata5  = !eza --git --group-directories-first -lTA    --no-permissions --no-filesize --no-user --no-time -L 5 ${GIT_PREFIX}
	elata5  = !eza --git --group-directories-first -lTAD   --no-permissions --no-filesize --no-user --no-time -L 5 ${GIT_PREFIX}
	elalt5  = !eza --git --group-directories-first -bglT   -L 5 ${GIT_PREFIX}
	elalt5  = !eza --git --group-directories-first -bglTD  -L 5 ${GIT_PREFIX}
	elalta5 = !eza --git --group-directories-first -bglTA  -L 5 ${GIT_PREFIX}
	elalta5 = !eza --git --group-directories-first -bglTAD -L 5 ${GIT_PREFIX}

	uls     = !eza --git --group-directories-first -lG --no-permissions --no-filesize --no-user --no-time ${GIT_PREFIX}
