[pager]
	# Graph
	authgraph  = LESSOPEN=\"|- filter-git-graph-unicode %s\" LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	decograph  = LESSOPEN=\"|- filter-git-graph-unicode %s\" LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	graph      = LESSOPEN=\"|- filter-git-graph-unicode %s\" LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	graphchart = LESSOPEN=\"|- filter-git-graph-unicode %s\" LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	graphname  = LESSOPEN=\"|- filter-git-graph-unicode %s\" LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	graphstat  = LESSOPEN=\"|- filter-git-graph-unicode %s\" LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	graphstatd = LESSOPEN=\"|- filter-git-graph-unicode %s\" LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	graphstatl = LESSOPEN=\"|- filter-git-graph-unicode %s\" LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	topograph  = LESSOPEN=\"|- filter-git-graph-unicode %s\" LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"

	# Timeline
	authline      = LESSOPEN=\"|- filter-git-graph-unicode %s\" LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	decoline      = LESSOPEN=\"|- filter-git-graph-unicode %s\" LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	headline      = LESSOPEN=\"|- filter-git-graph-unicode %s\" LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	localline     = LESSOPEN=\"|- filter-git-graph-unicode %s\" LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	nameline      = LESSOPEN=\"|- filter-git-graph-unicode %s\" LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	tagline       = LESSOPEN=\"|- filter-git-graph-unicode %s\" LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	timeline      = LESSOPEN=\"|- filter-git-graph-unicode %s\" LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	timelinechart = LESSOPEN=\"|- filter-git-graph-unicode %s\" LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	timelinename  = LESSOPEN=\"|- filter-git-graph-unicode %s\" LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	timelinestat  = LESSOPEN=\"|- filter-git-graph-unicode %s\" LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	timelinestatd = LESSOPEN=\"|- filter-git-graph-unicode %s\" LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	timelinestatl = LESSOPEN=\"|- filter-git-graph-unicode %s\" LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
