[alias]
	# Git's original diff, BUG: https://github.com/dandavison/delta/issues/522
	diff-git        = -c pager.diff='LESS=\"${LESS} -S\" \"$(git var GIT_PAGER)\"' diff
	diff-git-cached = -c pager.diff='LESS=\"${LESS} -S\" \"$(git var GIT_PAGER)\"' diff --cached
	diff-git-merge  = -c pager.diff='LESS=\"${LESS} -S\" \"$(git var GIT_PAGER)\"' diff --merge-base HEAD
	diff-git-staged = -c pager.diff='LESS=\"${LESS} -S\" \"$(git var GIT_PAGER)\"' diff --staged

	# diff -y equivalent, with smaller tabs
	diffy                  = diff
	diffy-myers            = -c diff.algorithm=myers     diff
	diffy-minimal          = -c diff.algorithm=minimal   diff
	diffy-patience         = -c diff.algorithm=patience  diff
	diffy-histogram        = -c diff.algorithm=histogram diff
	diffy-cached           = diff --cached
	diffy-cached-myers     = -c diff.algorithm=myers     diff --cached
	diffy-cached-minimal   = -c diff.algorithm=minimal   diff --cached
	diffy-cached-patience  = -c diff.algorithm=patience  diff --cached
	diffy-cached-histogram = -c diff.algorithm=histogram diff --cached
	diffy-merge            = diff --merge-base HEAD
	diffy-merge-myers      = -c diff.algorithm=myers     diff --merge-base HEAD
	diffy-merge-minimal    = -c diff.algorithm=minimal   diff --merge-base HEAD
	diffy-merge-patience   = -c diff.algorithm=patience  diff --merge-base HEAD
	diffy-merge-histogram  = -c diff.algorithm=histogram diff --merge-base HEAD
	diffy-staged           = diff --staged
	diffy-staged-myers     = -c diff.algorithm=myers     diff --staged
	diffy-staged-minimal   = -c diff.algorithm=minimal   diff --staged
	diffy-staged-patience  = -c diff.algorithm=patience  diff --staged
	diffy-staged-histogram = -c diff.algorithm=histogram diff --staged

	logdiffy     = -c delta.side-by-side=true -c delta.tabs=4 log --unified=1

[blame]
	date = iso

[delta "blame"]
	blame-format  = "{timestamp:<13.12} {author:<15.14} {commit:<8}"
	blame-palette = "#1f1f1f #2F0000 #002F00 #00002F #2F2F00 #2F002F #002F2F"
	tabs = 0

[delta "diff"]
	tabs = 4
	side-by-side = false
	line-numbers = true
	file-style = normal blue
	file-decoration-style = ''
	hunk-header-style = omit

[delta "diffy"]
	tabs = 4
	side-by-side = true
	line-numbers = true
	file-style = normal blue
	file-decoration-style = ''
	hunk-header-style = omit

[diff]
	colorMoved = zebra

[interactive]
	diffFilter = delta --color-only

[pager]
	blame  = LESS=\"${LESS} -S\" delta --features=blame

	diff          = LESS=\"${LESS} -S\" delta --features=diff
	diff-cached   = LESS=\"${LESS} -S\" delta --features=diff
	diff-merge    = LESS=\"${LESS} -S\" delta --features=diff
	diff-staged   = LESS=\"${LESS} -S\" delta --features=diff

	diffy                  = LESS=\"${LESS} -S\" delta --features=diffy
	diffy-myers            = LESS=\"${LESS} -S\" delta --features=diffy
	diffy-minimal          = LESS=\"${LESS} -S\" delta --features=diffy
	diffy-patience         = LESS=\"${LESS} -S\" delta --features=diffy
	diffy-histogram        = LESS=\"${LESS} -S\" delta --features=diffy
	diffy-cached           = LESS=\"${LESS} -S\" delta --features=diffy
	diffy-cached-myers     = LESS=\"${LESS} -S\" delta --features=diffy
	diffy-cached-minimal   = LESS=\"${LESS} -S\" delta --features=diffy
	diffy-cached-patience  = LESS=\"${LESS} -S\" delta --features=diffy
	diffy-cached-histogram = LESS=\"${LESS} -S\" delta --features=diffy
	diffy-merge            = LESS=\"${LESS} -S\" delta --features=diffy
	diffy-merge-myers      = LESS=\"${LESS} -S\" delta --features=diffy
	diffy-merge-minimal    = LESS=\"${LESS} -S\" delta --features=diffy
	diffy-merge-patience   = LESS=\"${LESS} -S\" delta --features=diffy
	diffy-merge-histogram  = LESS=\"${LESS} -S\" delta --features=diffy
	diffy-staged           = LESS=\"${LESS} -S\" delta --features=diffy
	diffy-staged-myers     = LESS=\"${LESS} -S\" delta --features=diffy
	diffy-staged-minimal   = LESS=\"${LESS} -S\" delta --features=diffy
	diffy-staged-patience  = LESS=\"${LESS} -S\" delta --features=diffy
	diffy-staged-histogram = LESS=\"${LESS} -S\" delta --features=diffy

	log    = LESS=\"${LESS} -F\" delta
	reflog = LESS=\"${LESS} -F\" delta
	show   = LESS=\"${LESS} -S\" delta
