[alias]
	# Git's original diff, BUG: https://github.com/dandavison/delta/issues/522
	diff-git        = -c pager.diff='LESS=\"${LESS} -S\" \"${PAGER}\"' diff
	diff-git-cached = -c pager.diff='LESS=\"${LESS} -S\" \"${PAGER}\"' diff --cached
	diff-git-merge  = -c pager.diff='LESS=\"${LESS} -S\" \"${PAGER}\"' diff --merge-base HEAD
	diff-git-staged = -c pager.diff='LESS=\"${LESS} -S\" \"${PAGER}\"' diff --staged

	# diff -y equivalnt, with smaller tabs
	diffy        = -c delta.side-by-side=true -c delta.tabs=4 diff
	diffy-cached = -c delta.side-by-side=true -c delta.tabs=4 diff --cached
	diffy-merge  = -c delta.side-by-side=true -c delta.tabs=4 diff --merge-base HEAD
	diffy-staged = -c delta.side-by-side=true -c delta.tabs=4 diff --staged

[blame]
	date = iso

[delta]
	blame-format  = "{timestamp:<13.12} {author:<15.14} {commit:<8}"
	blame-palette = "#1f1f1f #2F0000 #002F00 #00002F #2F2F00 #2F002F #002F2F"
	tabs = 0

[diff]
	colorMoved = zebra

[interactive]
	diffFilter = delta --color-only

[pager]
	blame  = LESS=\"${LESS} -S\"            delta
	diff   = LESS=\"${LESS} -S\"            delta
	log    = LESS=\"${LESS} -F --wordwrap\" delta
	reflog = LESS=\"${LESS} -F --wordwrap\" delta
	show   = LESS=\"${LESS} -S\"            delta
