[pager]
	# --wordwrap was introduced in 621
	blame    = LESS=\"${LESS} -S\"            less
	branch   = LESS=\"${LESS} -F --wordwrap\" less
	config   = LESS=\"${LESS} -S\"            less
	diff     = LESS=\"${LESS} -S\"            less
	help     = LESS=\"${LESS} -F --wordwrap\" less
	log      = LESS=\"${LESS} -F --wordwrap\" less
	reflog   = LESS=\"${LESS} -F --wordwrap\" less
	shortlog = LESS=\"${LESS} -F --wordwrap\" less
	show     = LESS=\"${LESS} -S\"            less
	status   = LESS=\"${LESS} -F --wordwrap\" less
	tag      = LESS=\"${LESS} -F --wordwrap\" less
