[alias]
	# Identity, shows current Author and Committer
	id = "!echo -n '   Author: '; git var GIT_AUTHOR_IDENT; echo -n 'Committer: '; git var GIT_COMMITTER_IDENT"

	# Disk usage (du)
	packing   = count-objects -v -H
	du-repo   = "!declare r=\"$(git rev-parse --git-common-dir 2> /dev/null)\"; [[ -n \"${r}\" ]] && du -hc -d 1 \"${r}\" | sort -h"
	dust-repo = "!declare r=\"$(git rev-parse --git-common-dir 2> /dev/null)\"; [[ -n \"${r}\" ]] && dust -D --collapse 'objects' \"${r}\""
	du-tree   = "!declare t=\"$(git rev-parse --show-toplevel  2> /dev/null)\"; [[ -n \"${t}\" ]] && du -hc -d 1 --exclude='.git' \"${t}\" | sort -h"
	dust-tree = "!declare t=\"$(git rev-parse --show-toplevel  2> /dev/null)\"; [[ -n \"${t}\" ]] && dust --ignore-directory '.git' \"${t}\""

	# Config locations
	config-sys  = config --system
	config-user = config --global
	config-repo = config --local
	config-tree = config --worktree

	# Path locations (cd-ing needs shell aliases)
	repo-dir = rev-parse --git-common-dir
	git-dir  = rev-parse --git-dir
	tree-dir = rev-parse --show-toplevel

	# Listings
	alternates      = "!declare a=\"$(git rev-parse --git-path objects/info/alternates 2> /dev/null)\"; if [[ -n \"${a}\" && -f \"${a}\" ]]; then cat \"${a}\"; else echo 'No alternates'; fi"
	commands        = help --all
	configs         = help --config

	branches        = -c color.branch.reset=default branch -vva
	references      = for-each-ref --include-root-refs
	remotes         = remote -v
	tags            = tag --list --format='\
%(if)%(tag)%(then)%(color:magenta)%(else)%(color:cyan)%(end)\
%(refname:short)%(color:reset)\
'
	tags-one        = tag --list --sort=-creatordate --no-column --format='\
%(align:6,right)%(objecttype)%(end) \
%(if)%(tag)%(then)\
%(color:yellow)%(*objectname:short)%(color:reset) \
%(color:magenta)%(align:10)%(refname:short)%(end)%(color:reset) \
%(color:brightmagenta)%(subject)%(color:reset) %(*subject)\
%(else)\
%(color:yellow)%(objectname:short)%(color:reset) \
%(color:cyan)%(align:10)%(refname:short)%(end)%(color:reset) \
%(subject)\
%(end)\
'
	tags-two        = tag --list --sort=-creatordate --no-column --format='\
%(align:6,right)%(objecttype)%(end) \
%(if)%(tag)%(then)\
%(color:yellow)%(*objectname:short)%(color:reset) \
%(color:brightyellow)%(align:16)%(taggerdate:human-local)%(end)%(color:reset) \
%(color:magenta)%(align:10)%(refname:short)%(end)%(color:reset) \
%(color:brightwhite)%(*committername)%(color:reset) \
%(if)%(contents:signature)%(then)%(color:green)Signed%(else)%(color:red)Unsigned%(end)\n\
%(color:brightmagenta)%(subject)%(color:reset)    %(*subject)\n\
%(else)\
%(color:yellow)%(objectname:short)%(color:reset) \
%(color:brightyellow)%(align:16)%(committerdate:human-local)%(end)%(color:reset) \
%(color:cyan)%(align:10)%(refname:short)%(end)%(color:reset) \
%(color:brightwhite)%(committername)%(color:reset)\n\
%(subject)\n\
%(end)\
'
	tags-long       = tag --list --sort=-creatordate --format='\
%(color:brightblack)       Tag%(color:reset)  %(if)%(tag)%(then)\
%(color:magenta)%(align:41)%(refname:short)%(end)  \
%(if)%(contents:signature)%(then)%(color:green)Signed%(else)%(color:red)Unsigned%(end)\
%(color:reset)\n\
%(color:brightblack)    Tagger%(color:reset)  \
%(color:brightyellow)%(align:16)%(taggerdate:human-local)%(end)%(color:reset)  \
%(color:brightwhite)%(taggername)%(color:reset)\n\
%(color:brightblack) Tag Subj.%(color:reset)  %(subject)\n\
%(color:brightblack)    Commit%(color:reset)  %(color:yellow)%(*objectname)%(color:reset)  \
%(color:brightblack) Sig:%(color:reset) %(*signature:grade)\n\
%(color:brightblack)    Author%(color:reset)  \
%(color:brightyellow)%(align:16)%(*authordate:human-local)%(end)%(color:reset)  \
%(color:brightwhite)%(*authorname)%(color:reset)\n\
%(color:brightblack) Committer%(color:reset)  \
%(color:brightyellow)%(align:16)%(*committerdate:human-local)%(end)%(color:reset)  \
%(color:brightwhite)%(*committername)%(color:reset)\n\
%(color:brightblack)   Subject%(color:reset)  %(*subject)\n\
%(else)\
%(color:cyan)%(refname:short)  \
\n\
%(color:brightblack)    Commit%(color:reset)  %(color:yellow)%(objectname)%(color:reset)  \
%(color:brightblack) Sig:%(color:reset) %(signature:grade)\n\
%(color:brightblack)    Author%(color:reset)  \
%(color:brightyellow)%(align:16)%(authordate:human-local)%(end)%(color:reset)  \
%(color:brightwhite)%(authorname)%(color:reset)\n\
%(color:brightblack) Committer%(color:reset)  \
%(color:brightyellow)%(align:16)%(committerdate:human-local)%(end)%(color:reset)  \
%(color:brightwhite)%(committername)%(color:reset)\n\
%(color:brightblack)   Subject%(color:reset)  %(subject)\n\
%(end)\
'
	tags-all        = tag --list --sort=-creatordate --format='\
%(color:brightblack)       Tag%(color:reset)  %(if)%(tag)%(then)\
%(color:magenta)%(align:41)%(refname:short)%(end)  \
%(if)%(contents:signature)%(then)%(color:green)Signed%(else)%(color:red)Unsigned%(end)\
%(color:reset)\n\
%(color:brightblack)     TDate%(color:reset)  \
%(color:brightyellow)%(taggerdate:local)%(color:reset)\n\
%(color:brightblack)    Tagger%(color:reset)  \
%(color:brightwhite)%(taggername)%(color:reset) <%(color:brightblue)%(taggeremail:mailmap,trim)%(color:reset)>\n\
%(color:brightblack) Tag Subj.%(color:reset)  %(contents:subject)\n\
%(contents:body)\
%(color:brightblack)    Commit%(color:reset)  %(color:yellow)%(*objectname)%(color:reset)  \
%(color:brightblack) Sig:%(color:reset) %(*signature:grade)\n\
%(color:brightblack)     ADate%(color:reset)  \
%(color:brightyellow)%(*authordate:local)%(color:reset)\n\
%(color:brightblack)    Author%(color:reset)  \
%(color:brightwhite)%(*authorname)%(color:reset) <%(color:brightblue)%(*authoremail:mailmap,trim)%(color:reset)>\n\
%(color:brightblack)     CDate%(color:reset)  \
%(color:brightyellow)%(*committerdate:local)%(color:reset)\n\
%(color:brightblack) Committer%(color:reset)  \
%(color:brightwhite)%(*committername)%(color:reset) <%(color:brightblue)%(*committeremail:mailmap,trim)%(color:reset)>\n\
%(color:brightblack)   Subject%(color:reset)  %(*contents)\
%(else)\
%(color:cyan)%(refname:short)  \
\n\
%(color:brightblack)    Commit%(color:reset)  %(color:yellow)%(objectname)%(color:reset)  \
%(color:brightblack) Sig:%(color:reset) %(signature:grade)\n\
%(color:brightblack)     ADate%(color:reset)  \
%(color:brightyellow)%(*authordate:local)%(color:reset)\n\
%(color:brightblack)    Author%(color:reset)  \
%(color:brightwhite)%(authorname)%(color:reset) <%(color:brightblue)%(authoremail:mailmap,trim)%(color:reset)>\n\
%(color:brightblack)     CDate%(color:reset)  \
%(color:brightyellow)%(*committerdate:local)%(color:reset)\n\
%(color:brightblack) Committer%(color:reset)  \
%(color:brightwhite)%(committername)%(color:reset) <%(color:brightblue)%(committeremail:mailmap,trim)%(color:reset)>\n\
%(color:brightblack)   Subject%(color:reset)  %(contents)\
%(end)\
'
	trees           = worktree list

	# Diffs
	diff-cached = diff --cached
	diff-merge  = diff --merge-base HEAD
	diff-staged = diff --staged

	# Diff statistics
	diffchart        = diff --stat --stat-name-width=30
	diffchart-cached = diff --stat --stat-name-width=30 --cached
	diffchart-merge  = diff --stat --stat-name-width=30 --merge-base HEAD
	diffchart-staged = diff --stat --stat-name-width=30 --staged
	diffstat         = diff --stat
	diffstat-cached  = diff --stat --cached
	diffstat-merge   = diff --stat --merge-base HEAD
	diffstat-staged  = diff --stat --staged
	diffname         = diff --name-status
	diffname-cached  = diff --name-status --cached
	diffname-merge   = diff --name-status --merge-base HEAD
	diffname-staged  = diff --name-status --staged
	dirstat          = diff --dirstat
	dirstat-cached   = diff --dirstat --cached
	dirstat-merge    = diff --dirstat --merge-base HEAD
	dirstat-staged   = diff --dirstat --staged
	linestat         = diff --shortstat
	linestat-cached  = diff --shortstat --cached
	linestat-merge   = diff --shortstat --merge-base HEAD
	linestat-staged  = diff --shortstat --staged

	# GUI tools
	blamegui = gui blame
	diffgui  = difftool --gui
	mergegui = mergetool --gui

	# Logs, Graphs and Show
	authgraph  = log --graph --date-order --pretty=one-g16 --author-date-order
	decograph  = log --graph --date-order --pretty=one-g16 --simplify-by-decoration
	graph      = log --graph --date-order --pretty=one-g16
	graphchart = log --graph --date-order --pretty=hone --stat --stat-name-width=30
	graphname  = log --graph --date-order --pretty=hone --name-status
	graphstat  = log --graph --date-order --pretty=hone --stat
	graphstatd = log --graph --date-order --pretty=hone --dirstat
	graphstatl = log --graph --date-order --pretty=hone --shortstat
	topograph  = log --graph --topo-order --pretty=one-g16

	logchart   = log --pretty=hone --stat --stat-name-width=30
	logdiff    = log --pretty=hone --patch
	logname    = log --pretty=hone --name-status
	logstat    = log --pretty=hone --stat
	logstatd   = log --pretty=hone --dirstat
	logstatl   = log --pretty=hone --shortstat

	rlog       = reflog
	rlogdiff   = reflog --pretty=hone --patch
	rlogname   = reflog --pretty=hone --name-status
	rlogstat   = reflog --pretty=hone --stat
	rlogstatd  = reflog --pretty=hone --dirstat
	rlogstatl  = reflog --pretty=hone --shortstat

	showstat   = show --stat
	showstatd  = show --dirstat
	showstatl  = show --shortstat

	# Timelines
	authline      = log --graph --all --author-date-order --pretty=one-g16
	decoline      = log --graph --all --date-order --pretty=one-g16 --simplify-by-decoration
	headline      = log --graph --all --date-order --pretty=one-g16 --simplify-by-decoration --decorate-refs=refs/heads
	localline     = log --graph --all --date-order --pretty=one-g16 --simplify-by-decoration --decorate-refs=refs/heads,refs/tags
	nameline      = log --graph --all --date-order --pretty=one-g16 --simplify-by-decoration --decorate-refs=refs/heads,refs/remotes
	tagline       = log --graph --all --date-order --pretty=one-g16 --simplify-by-decoration --decorate-refs=refs/tags
	timeline      = log --graph --all --date-order --pretty=one-g16
	timelinechart = log --graph --all --date-order --pretty=hone --stat --stat-name-width=30
	timelinename  = log --graph --all --date-order --pretty=hone --name-status
	timelinestat  = log --graph --all --date-order --pretty=hone --stat
	timelinestatd = log --graph --all --date-order --pretty=hone --dirstat
	timelinestatl = log --graph --all --date-order --pretty=hone --shortstat

	# Counts
	count = rev-list --count

	# Commits, Merges, Picks, Pulls and Pushes
	commit-blank = commit --allow-empty-message --no-edit
	commit-init  = commit --message='Initial commit'
	fetch-dry    = fetch --dry-run
	get          = clone --depth=1
	merge-ff     = merge --ff-only
	merge-pr     = merge --no-ff
	merge-stage  = merge --no-commit
	pick         = cherry-pick
	pick-stage   = cherry-pick --no-commit
	pull-dry     = pull --dry-run
	pull-ff      = pull --ff-only
	pull-stage   = pull --no-commit
	push-dry     = push --dry-run
	use          = clone --shared --single-branch

	# Statuses
	stats      = status --short
	stats-all  = status --short --untracked-files=all
	stats-mod  = status --short --untracked-files=no
	state      = -c status.relativePaths=false status --short
	state-all  = -c status.relativePaths=false status --short --untracked-files=all
	state-mod  = -c status.relativePaths=false status --short --untracked-files=no
	status-all = status --untracked-files=all
	status-mod = status --untracked-files=no

	# Worktrees
	tree       = worktree

[blame]
	coloring = repeatedLines
	date = human-local

[color]
	ui = auto

[color "advice"]
	hint = brightblue

[color "blame"]
	highlightRecent = "\
	brightblack,\
	5 years  ago,\
	red,\
	1 year   ago,\
	yellow,\
	3 months ago,\
	green,\
	1 month  ago,\
	cyan,\
	1 week   ago,\
	blue,\
	1 day    ago,\
	magenta\
"
	repeatedLines   = brightblack

[color "branch"]
	current  = bold brightgreen
	local    = green
	plain    = yellow
	remote   = red
	# NOTE: `reset` is undocumented, but listed with `git help --config`
	# Has issues with single vs. columns display output, do not set
#	reset    = reset
	upstream = red
	# NOTE: `worktree` is undocumented, but listed with `git help --config`
	worktree = brightblue

[color "decorate"]
	HEAD         = magenta
	branch       = green
	grafted      = blue
	remoteBranch = red
	stash        = brightmagenta
	tag          = cyan

[color "diff"]
#	commit                    =
#	context                   = white
	frag                      = brightyellow
	func                      = brightblue
	meta                      = magenta
	new                       = green
	old                       = red
#	plain                     = # synonym for context
	whitespace                = reverse yellow

	# git diff --color-moved
	newMoved                  = brightcyan
	oldMoved                  = brightmagenta

	newMovedAlternative       = brightcyan
	oldMovedAlternative       = brightmagenta

#	newMovedAlternativeDimmed =
#	newMovedDimmed            =
#	oldMovedAlternativeDimmed =
#	oldMovedDimmed            =

	# git diff-range
#	contextBold               =
#	contextDimmed             =
#	newBold                   =
#	newDimmed                 =
#	oldBold                   =
#	oldDimmed                 =

[color "grep"]
#	column        =
#	context       = white
#	filename      = magenta
#	function      =
#	lineNumber    = green
#	match         = red
#	matchContext  = # same as match when unset
#	matchSelected = # same as match when unset
#	selected      = white
#	separator     = cyan

[color "status"]
#	header       = # leave default

	added        = green
	changed      = yellow
	unmerged     = brightyellow
	untracked    = red
#	updated      = # same as added

	branch       = bold brightgreen
	localBranch  = green
	noBranch     = bold brightblue
	remoteBranch = red

[column]
	ui = auto

[completion]
	commands = -am -apply -cherry -cherry-pick count-objects -format-patch -gitk -gui -instaweb ls-files ls-remote -new-workdir -reflog rev-list -send-email symbolic-ref var version -whatchanged -worktree

[diff]
	algorithm        = patience
	colorMoved       = zebra
	colorMovedWS     = allow-indentation-change
	context          = 3
	dirstat          = changes,noncumulative,0
	interHunkContext = 10
	mnemonicPrefix   = true

[format]
	pretty = one

[gui]
	diffContext    = 3
	tabsize        = 4
	commitmsgwidth = 120

[init]
	defaultBranch = core

[log]
	date = human-local

[pager]
	blame    = LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	branch   = LESS=\"${LESS} -F\"  \"$(git var GIT_PAGER)\"
	config   = LESS=\"${LESS} -S\"  \"$(git var GIT_PAGER)\"
	diff     = LESS=\"${LESS} -S\"  \"$(git var GIT_PAGER)\"
	grep     = LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	help     = LESS=\"${LESS} -F\"  \"$(git var GIT_PAGER)\"
	log      = LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	reflog   = LESS=\"${LESS} -FS\" \"$(git var GIT_PAGER)\"
	shortlog = LESS=\"${LESS} -F\"  \"$(git var GIT_PAGER)\"
	show     = LESS=\"${LESS} -S\"  \"$(git var GIT_PAGER)\"
	status   = LESS=\"${LESS} -F\"  \"$(git var GIT_PAGER)\"
	tag      = LESS=\"${LESS} -F\"  \"$(git var GIT_PAGER)\"

[pretty]
	# Full references only
	references   =            "tformat:%C(auto)%H  %D"
	refs         =            "tformat:%C(auto)%h  %D"

	# Short references with dates
	refs-date    =            "tformat:%C(auto)%h  %C(brightyellow)%<(12)%ad%C(auto)  %D"
	refs-adate   =            "tformat:%C(auto)%h  %C(brightyellow)%<(12)%ad%C(auto)  %D"
	refs-cdate   =            "tformat:%C(auto)%h  %C(brightyellow)%<(12)%cd%C(auto)  %D"

	# Dates only
	date         =                        "tformat:%C(brightyellow)%<(12)%ad%C(auto)  %D"
	adate        =                        "tformat:%C(brightyellow)%<(12)%ad%C(auto)  %D"
	cdate        =                        "tformat:%C(brightyellow)%<(12)%cd%C(auto)  %D"

	# Full commit message
	msg      =            "%C(auto)%B"
	msg-80   =  "%w(80,0,0)%C(auto)%B"
	msg-100  = "%w(100,0,0)%C(auto)%B"
	msg-120  = "%w(120,0,0)%C(auto)%B"
	msg-140  = "%w(140,0,0)%C(auto)%B"
	msg-160  = "%w(160,0,0)%C(auto)%B"

	# Full commit message, collapsed
	msgc     =            "%C(auto,bold)%s%C(auto)%n%n%-b"
	msgc-80  =  "%w(80,0,0)%C(auto,bold)%s%C(auto)%n%n%-b"
	msgc-100 = "%w(100,0,0)%C(auto,bold)%s%C(auto)%n%n%-b"
	msgc-120 = "%w(120,0,0)%C(auto,bold)%s%C(auto)%n%n%-b"
	msgc-140 = "%w(140,0,0)%C(auto,bold)%s%C(auto)%n%n%-b"
	msgc-160 = "%w(160,0,0)%C(auto,bold)%s%C(auto)%n%n%-b"

	#
	# Line-limited formats
	#
	# Dates are truncated!
	#
	# Formats ending in:
	# -<number>  -- number determines output width, wordwraps overflow
	# -<number>t -- number determines output width, truncates overflow, proportionally
	#

	# One line (short ref, author date, message subject, decorations)
	one          =            "tformat:%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %s  %D"
	one-80       =  "tformat:%w(80,0,4)%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %s  %D"
	one-100      = "tformat:%w(100,0,4)%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %s  %D"
	one-120      = "tformat:%w(120,0,4)%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %s  %D"
	one-140      = "tformat:%w(140,0,4)%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %s  %D"
	one-160      = "tformat:%w(160,0,4)%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %s  %D"

	# One line, ref only (short ref, message subject, decorations)
	one-ref      =            "tformat:%C(auto)%h  %s  %D"
	one-ref-80   =  "tformat:%w(80,0,4)%C(auto)%h  %s  %D"
	one-ref-100  = "tformat:%w(100,0,4)%C(auto)%h  %s  %D"
	one-ref-120  = "tformat:%w(120,0,4)%C(auto)%h  %s  %D"
	one-ref-140  = "tformat:%w(140,0,4)%C(auto)%h  %s  %D"
	one-ref-160  = "tformat:%w(160,0,4)%C(auto)%h  %s  %D"

	# One line, date only (author date, message subject, decorations)
	one-date     =                        "tformat:%C(brightyellow)%<(12,trunc)%ad%C(auto)  %s  %D"
	one-date-80  =              "tformat:%w(80,0,4)%C(brightyellow)%<(12,trunc)%ad%C(auto)  %s  %D"
	one-date-100 =             "tformat:%w(100,0,4)%C(brightyellow)%<(12,trunc)%ad%C(auto)  %s  %D"
	one-date-120 =             "tformat:%w(120,0,4)%C(brightyellow)%<(12,trunc)%ad%C(auto)  %s  %D"
	one-date-140 =             "tformat:%w(140,0,4)%C(brightyellow)%<(12,trunc)%ad%C(auto)  %s  %D"
	one-date-160 =             "tformat:%w(160,0,4)%C(brightyellow)%<(12,trunc)%ad%C(auto)  %s  %D"

	# One line - date, author, message (author date, author, message subject, decorations)
	one-dam      =                        "tformat:%C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %s  %D"
	one-dam-80   =              "tformat:%w(80,0,4)%C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %s  %D"
	one-dam-100  =             "tformat:%w(100,0,4)%C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %s  %D"
	one-dam-120  =             "tformat:%w(120,0,4)%C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %s  %D"
	one-dam-140  =             "tformat:%w(140,0,4)%C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %s  %D"
	one-dam-160  =             "tformat:%w(160,0,4)%C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %s  %D"

	# One line (short ref, author date, message subject, decorations), graph padded
	one-g16 = "tformat:%>|(18,trunc)%x20%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %s  %D"
	one-g32 = "tformat:%>|(34,trunc)%x20%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %s  %D"

	# One line (short ref, author date, message subject, decorations), highlight
	hone     =            "tformat:%C(black yellow) %h %C(black brightyellow)%<(12,trunc) %ad %C(auto)  %s  %D"
	hone-80  =  "tformat:%w(80,0,0)%C(black yellow) %h %C(black brightyellow)%<(12,trunc) %ad %C(auto)  %s  %D"
	hone-100 = "tformat:%w(100,0,0)%C(black yellow) %h %C(black brightyellow)%<(12,trunc) %ad %C(auto)  %s  %D"
	hone-120 = "tformat:%w(120,0,0)%C(black yellow) %h %C(black brightyellow)%<(12,trunc) %ad %C(auto)  %s  %D"
	hone-140 = "tformat:%w(140,0,0)%C(black yellow) %h %C(black brightyellow)%<(12,trunc) %ad %C(auto)  %s  %D"
	hone-160 = "tformat:%w(160,0,0)%C(black yellow) %h %C(black brightyellow)%<(12,trunc) %ad %C(auto)  %s  %D"

	# Two lines
	two         =             "tformat:%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %D%n%s"
	two-80      =   "tformat:%w(80,0,4)%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %D%w(0)%n%w(80,0,0)%s"
	two-100     =  "tformat:%w(100,0,4)%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %D%w(0)%n%w(100,0,0)%s"
	two-120     =  "tformat:%w(120,0,4)%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %D%w(0)%n%w(120,0,0)%s"
	two-140     =  "tformat:%w(140,0,4)%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %D%w(0)%n%w(140,0,0)%s"
	two-160     =  "tformat:%w(160,0,4)%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %D%w(0)%n%w(160,0,0)%s"

	# Two lines, with full commit message
	two-msg     =             "tformat:%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %D%n%B"
	two-msg-80  =   "tformat:%w(80,0,4)%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %D%w(0)%n%w(80,0,0)%B"
	two-msg-100 =  "tformat:%w(100,0,4)%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %D%w(0)%n%w(100,0,0)%B"
	two-msg-120 =  "tformat:%w(120,0,4)%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %D%w(0)%n%w(120,0,0)%B"
	two-msg-140 =  "tformat:%w(140,0,4)%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %D%w(0)%n%w(140,0,0)%B"
	two-msg-160 =  "tformat:%w(160,0,4)%C(auto)%h  %C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %D%w(0)%n%w(160,0,0)%B"

	# Two lines, highlight
	htwo     =            "tformat:%C(black yellow) %h %C(black brightyellow)%<(12,trunc) %ad %C(black blue) %aN %C(auto) %D%n%s"
	htwo-80  =  "tformat:%w(80,0,0)%C(black yellow) %h %C(black brightyellow)%<(12,trunc) %ad %C(black blue) %aN %C(auto) %D%w(0)%n%w(80,0,0)%s"
	htwo-100 = "tformat:%w(100,0,0)%C(black yellow) %h %C(black brightyellow)%<(12,trunc) %ad %C(black blue) %aN %C(auto) %D%w(0)%n%w(100,0,0)%s"
	htwo-120 = "tformat:%w(120,0,0)%C(black yellow) %h %C(black brightyellow)%<(12,trunc) %ad %C(black blue) %aN %C(auto) %D%w(0)%n%w(120,0,0)%s"
	htwo-140 = "tformat:%w(140,0,0)%C(black yellow) %h %C(black brightyellow)%<(12,trunc) %ad %C(black blue) %aN %C(auto) %D%w(0)%n%w(140,0,0)%s"
	htwo-160 = "tformat:%w(160,0,0)%C(black yellow) %h %C(black brightyellow)%<(12,trunc) %ad %C(black blue) %aN %C(auto) %D%w(0)%n%w(160,0,0)%s"

	# Three lines
	three     = "tformat:\
%C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %C(auto)%h  %D%n\
%C(brightyellow)%<(12,trunc)%cd%C(auto)  %C(brightwhite)%cN%C(auto)  %G?%n\
%C(auto)%s\
"
	three-80  = "tformat:\
%w(80,0,4)%C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %C(auto)%h  %D%w(0)%n\
%w(80,0,4)%C(brightyellow)%<(12,trunc)%cd%C(auto)  %C(brightwhite)%cN%C(auto)  %G?%w(0)%n\
%w(80,0,0)%C(auto)%s\
"
	three-100 = "tformat:\
%w(100,0,4)%C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %C(auto)%h  %D%w(0)%n\
%w(100,0,4)%C(brightyellow)%<(12,trunc)%cd%C(auto)  %C(brightwhite)%cN%C(auto)  %G?%w(0)%n\
%w(100,0,0)%C(auto)%s\
"
	three-120 = "tformat:\
%w(120,0,4)%C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %C(auto)%h  %D%w(0)%n\
%w(120,0,4)%C(brightyellow)%<(12,trunc)%cd%C(auto)  %C(brightwhite)%cN%C(auto)  %G?%w(0)%n\
%w(120,0,0)%C(auto)%s\
"
	three-140 = "tformat:\
%w(140,0,4)%C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %C(auto)%h  %D%w(0)%n\
%w(140,0,4)%C(brightyellow)%<(12,trunc)%cd%C(auto)  %C(brightwhite)%cN%C(auto)  %G?%w(0)%n\
%w(140,0,0)%C(auto)%s\
"
	three-160 = "tformat:\
%w(160,0,4)%C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %C(auto)%h  %D%w(0)%n\
%w(160,0,4)%C(brightyellow)%<(12,trunc)%cd%C(auto)  %C(brightwhite)%cN%C(auto)  %G?%w(0)%n\
%w(160,0,0)%C(auto)%s\
"

	# Three lines, with full commit message
	three-msg     = "tformat:\
%C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %C(auto)%h  %D%n\
%C(brightyellow)%<(12,trunc)%cd%C(auto)  %C(brightwhite)%cN%C(auto)  %G?%n\
%C(auto)%B\
"
	three-msg-80  = "tformat:\
%w(80,0,4)%C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %C(auto)%h  %D%w(0)%n\
%w(80,0,4)%C(brightyellow)%<(12,trunc)%cd%C(auto)  %C(brightwhite)%cN%C(auto)  %G?%w(0)%n\
%w(80,0,0)%C(auto)%B\
"
	three-msg-100 = "tformat:\
%w(100,0,4)%C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %C(auto)%h  %D%w(0)%n\
%w(100,0,4)%C(brightyellow)%<(12,trunc)%cd%C(auto)  %C(brightwhite)%cN%C(auto)  %G?%w(0)%n\
%w(100,0,0)%C(auto)%B\
"
	three-msg-120 = "tformat:\
%w(120,0,4)%C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %C(auto)%h  %D%w(0)%n\
%w(120,0,4)%C(brightyellow)%<(12,trunc)%cd%C(auto)  %C(brightwhite)%cN%C(auto)  %G?%w(0)%n\
%w(120,0,0)%C(auto)%B\
"
	three-msg-140 = "tformat:\
%w(140,0,4)%C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %C(auto)%h  %D%w(0)%n\
%w(140,0,4)%C(brightyellow)%<(12,trunc)%cd%C(auto)  %C(brightwhite)%cN%C(auto)  %G?%w(0)%n\
%w(140,0,0)%C(auto)%B\
"
	three-msg-160 = "tformat:\
%w(160,0,4)%C(brightyellow)%<(12,trunc)%ad%C(auto)  %C(brightblue)%aN%C(auto)  %C(auto)%h  %D%w(0)%n\
%w(160,0,4)%C(brightyellow)%<(12,trunc)%cd%C(auto)  %C(brightwhite)%cN%C(auto)  %G?%w(0)%n\
%w(160,0,0)%C(auto)%B\
"

	# Long, or detailed
	long  = "tformat:\
%C(brightblack)    Commit %C(auto) %H  %C(brightblack) Sig %C(auto) %G?%n\
%-(decorate:prefix=      Refs  ,suffix=,tag=)%n\
%C(brightblack)    Author %C(auto) %<(16,trunc)%C(brightyellow)%ad%C(auto)  %C(brightwhite)%aN%C(auto) <%C(brightblue)%aE%C(auto)>%n\
%C(brightblack) Committer %C(auto) %<(16,trunc)%C(brightyellow)%cd%C(auto)  %C(brightwhite)%cN%C(auto) <%C(brightblue)%cE%C(auto)>%n\
%C(brightblack)   Subject %C(auto) %s%n\
"

	# Long, or detailed, highlight
	hlong = "tformat:\
%C(reverse red)    Commit %C(auto) %H  %C(reverse red) Sig %C(auto) %G?%n\
%-(decorate:prefix=      Refs  ,suffix=,tag=)%n\
%C(reverse red)    Author %C(auto) %<(16,trunc)%C(brightyellow)%ad%C(auto)  %C(brightwhite)%aN%C(auto) <%C(brightblue)%aE%C(auto)>%n\
%C(reverse red) Committer %C(auto) %<(16,trunc)%C(brightyellow)%cd%C(auto)  %C(brightwhite)%cN%C(auto) <%C(brightblue)%cE%C(auto)>%n\
%C(reverse red)   Subject %C(auto) %s%n\
"

	# Long, or detailed, with full commit message
	all   = "tformat:\
%C(brightblack)    Commit %C(auto) %H  %C(brightblack) Sig %C(auto) %G?%n\
%-(decorate:prefix=      Refs  ,suffix=,tag=)%n\
%C(brightblack)    Author %C(auto) %<(16,trunc)%C(brightyellow)%ad%C(auto)  %C(brightwhite)%aN%C(auto) <%C(brightblue)%aE%C(auto)>%n\
%C(brightblack) Committer %C(auto) %<(16,trunc)%C(brightyellow)%cd%C(auto)  %C(brightwhite)%cN%C(auto) <%C(brightblue)%cE%C(auto)>%n\
%w(0,0,4)%C(brightblack)   Subject %C(auto) %B\
"

	# Long, or detailed, with full commit message, highlight
	hall  = "tformat:\
%C(reverse red)    Commit %C(auto) %H  %C(reverse red) Sig %C(auto) %G?%n\
%-(decorate:prefix=      Refs  ,suffix=,tag=)%n\
%C(reverse red)    Author %C(auto) %<(16)%C(brightyellow)%ad%C(auto)  %C(brightwhite)%aN%C(auto) <%C(brightblue)%aE%C(auto)>%n\
%C(reverse red) Committer %C(auto) %<(16)%C(brightyellow)%cd%C(auto)  %C(brightwhite)%cN%C(auto) <%C(brightblue)%cE%C(auto)>%n\
%w(0,0,4)%C(reverse red)   Subject %C(auto) %B\
"

[tag]
	# NOTE: version:refname, refname, creatordate, *authordate, *committerdate, ...
	sort = refname

[user]
	useConfigOnly = true

#
# Includes
#

[include]
	path = user.config

#
# Conditional Includes
#

[includeIf "gitdir:github.com/"]
	path = host/github.com.config

[includeIf "gitdir:gist.github.com/"]
	path = host/github.com.config

[includeIf "gitdir:gitlab.com/"]
	path = host/gitlab.com.config

[includeIf "gitdir:invent.kde.org/"]
	path = host/invent.kde.org.config
